/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
= =                                                                       = =
= =                                 START                                 = =
= =                                                                       = =
= =                                                                       = =
= =                               MY  RULES                               = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
   ========================================================================== */

body {
/*     background-color: rgba(29, 29, 30, 1); */
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~MOBILE~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~header rules~~~~~~~~~~~~~~~*/

.backblack, .navblack, header nav {
    background-color: #1D1D1E;
}

header nav {
    min-height: 50px;
}

header nav a, .whitecolor, .navbar-toggler-icon, .logoindex p, a:visited {
    color: white;
}

header nav .active {
    color: #D8383F;
}

.navimglogo {
    height: 73px;
    width: 59px;
}

.navlogopalais {
    width: 320px;
}

.navsearchborder {
    border: 4px solid white;
    width: 161px;
    height: 35px;
}

.navsearchborder:hover, .navsearchborder i:hover {
    color: #D8383F;
    border-color: #D8383F;
}

.navsearchborder i, .naviright1, .naviright {
    font-size: inherit;
    color: white;
}

.navblack {
    width: 70%;
    border: none;
}

.navmobile {
    width: 70%;
    padding-bottom: 5px;
}

.navmobile span i {
    color: white;
    padding-right: 25px;
}

.borderwhitebot {
    border-bottom: 2px white solid;
    padding-right: 100px;
    padding-bottom: 8px;
}

.logoindex {
    display: flex;
    align-items: center;
}

.logoindex a:first-child {
    margin-right: 15px;
}

.logoindex a:first-child:hover p, .cardimgback:hover .visiterparcours i, .cardimgback:hover .visiterparcours span, .cardimgback:hover h3, .cardimgback:hover .cardp, .cardimgbackoeuvre:hover .cardp2 i, .cardimgbackoeuvre:hover .cardp2 h2, .cardimgbackoeuvre:hover .cardp2 p {
    color: #D8383F;
}

a:hover {
    color: #D8383F;
    text-decoration: none;
}


/*~~~~~~~~~~ FIRST ENCART BACKGROUND VIDEO~~~~*/

iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100vh;
}

.firstencartlogo figure img {
    width: 100%;
    height: auto;
}

.firstencartlogo figure {
    margin: auto;
    width: 100%;
}

.firstencartlogo {
    margin: auto;
    padding: 20px;
}

.firstencart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.firstencart i {
    margin: auto;
    color: white;
}

.firstencart h4 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    color: white;
}

.firstencart p {
    font-size: 0.7em;
    padding: 10px;
    color: white;
}

.hoover1:hover i {
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.hoover2:hover i {
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.firstencartbordertop1, .firstencartbordertop3, .firstencartborderbottom2, .firstencartborderbottom4 {
    height: 15px;
    width: 100%;
}

.firstencartbordertop1 {
    border-top: solid white 8px;
    border-right: solid white 8px;
}

.firstencartborderbottom2 {
    border-left: solid white 8px;
    border-bottom: solid white 4px;
}

.firstencartbordertop3 {
    border-top: solid white 4px;
    border-right: solid white 8px;
}

.firstencartborderbottom4 {
    border-bottom: solid white 8px;
    border-left: solid white 8px;
}


/*~~~~~END FIRST ENCART BACKGROUND VIDEO~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~SLIDER~~~~~~~~~~~~~~~~~~~*/
.slider {
    padding: 0;
}
/*~~~~~~~~~~~~~~~~~~~END SLIDER~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~4 OEUVRES CLES~~~~~~~~~~~~~~~~~*/

.oeuvrescles {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.oeuvrescles h4 {
    font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~END 4 OEUVRES CLES~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~OEUVRES CLES~~~~~~~~~~~~~~~~~*/

.imageoeuvre {
    padding: 0;
}

.imageoeuvre figure img {
    width: 100%;
    height: auto;
    margin: 0;
}

.imageoeuvre figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

.imageoeuvre:hover .oeuvretexte {
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.oeuvretexte {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 80px;
    width: 80%;
    background-color: white;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.oeuvretext1 {
    font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~END OEUVRES CLES~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~HOVER DIV~~~~~~~~~~~~~~~~~*/
.nosapplicationscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d8383f;
    padding: 20px;
}

.nosapplications figure svg {
    width: 100%;
    height: auto;
}

.nosapplications figure {
    width: 40%;
}

.vousguider {
    font-size: 2em;
    padding: 1.5em;
    color: white;
}

.telechargez {
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border: solid 3px white;
    padding: 40px;
}

.nosapplicationscontainer:hover {
    background-color: white;
    transition: 0.4s;
}

.nosapplicationscontainer:hover .svgcolor1 {
    fill: #d8383f;
}

.nosapplicationscontainer:hover .svgcolor2 {
    stroke: #d8383f;
}

.nosapplicationscontainer:hover .vousguider, .nosapplicationscontainer:hover .telechargez {
    color: #d8383f;
}

.nosapplicationscontainer:hover .telechargez {
    border-color: #d8383f;
}

/*~~~~~~~~~~~~~~~~~~~END HOVER DIV~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ FOOTER MOBILE~~~~~~~~~~~~~~~*/

.footerdesktop {
    display: none;
}

.footerdesktopend {
    display: none;
}

footer {
    background-color: rgba(29, 29, 30, 1);
    padding-top: 50px;
    width: 100%;
}

.footercontainer {
    width: 250px;
    margin: auto;
    font-size: 0.8em;
    color: white;
}

.iconsfooter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.iconsfooter .icon {
    color: white;
}

.iconsfooter .icon:hover {
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.iconfooter {
    font-size: 20px;
    margin-right: 20px;
    color: white;
}

.horaires {
    font-size: 0.8em;
    font-weight: bold;
}

.footercontaineritem1, .footercontaineritem05 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footercontaineritem1 {
    margin-top: 20px;
}

.footercontaineritem1:hover, .footercontaineritem1:hover .icon {
    text-decoration: none;
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.footercontaineritem2 {
    display: block;
    margin-top: 20px;
    color: white;
}

.footercontaineritem2:hover, .footercontaineritem2:hover .icon {
    text-decoration: none;
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.footercaissedepargne {
    display: none;
}


/*~~~~~~~~~~~~~~~ END FOOTER MOBILE ~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~TABLET~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width:638px) {
  
  
    /*~~~~~~~~~~~~~ INDEX INTRO~~~~~~~~~~~~~~~~~~*/
    .firstencart h4 {
        font-size: 2em;
    }
    .firstencart p {
        font-size: 0.9em;
    }
    .firstencartbordertop1, .firstencartbordertop3, .firstencartborderbottom2, .firstencartborderbottom4 {
        height: 20px;
    }
    .firstencartbordertop1 {
        border-top: solid white 10px;
        border-right: solid white 10px;
    }
    .firstencartborderbottom2 {
        border-left: solid white 10px;
        border-bottom: solid white 5px;
    }
    .firstencartbordertop3 {
        border-top: solid white 5px;
        border-right: solid white 10px;
    }
    .firstencartborderbottom4 {
        border-bottom: solid white 10px;
        border-left: solid white 10px;
    }
    /*~~~~~~~~~~~~~END INDEX INTRO~~~~~~~~~~~~~~~~~~*/
  
    /*~~~~~~~~~~~~~~~~~~~SLIDER~~~~~~~~~~~~~~~~~~~*/
    .slider {
        padding: 0;
    }
    .slidertitre {
        font-size: 1.5em;
        font-weight: bold;
    }
    .slidertext2 {
        font-weight: bold;
    }
    .slider i {
        color: white;
        font-size: 2em;
    }
    .slidertextborderup {
        width: 95%;
        height: 30px;
        margin: auto;
        border-top: solid white 8px;
        border-left: solid white 8px;
        border-right: solid white 8px;
    }
    .slidertextborderbottom {
        width: 95%;
        height: 30px;
        margin: auto;
        border-bottom: solid white 8px;
        border-left: solid white 8px;
        border-right: solid white 8px;
    }
    /*~~~~~~~~~~~~~~~~~~~END SLIDER~~~~~~~~~~~~~~~~~*/
  
    /*~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~*/
    .footerdesktop {
        display: none;
    }
    .footerdesktopend {
        display: none;
    }
    .footercontainer {
        width: 80%;
        margin: auto;
        font-size: 1.7em;
        color: white;
    }
    .footercontainer .icon {
        font-size: 45px;
    }
    .footercontainer h5 {
        font-size: 2em;
    }
    .iconsfooter {
        width: 75%;
        margin: auto;
        margin-top: 80px;
    }
    .iconsfooter .icon {
        font-size: 50px;
    }
    .footercontaineritem1, .footercontaineritem2 {
        margin-top: 50px;
    }
    /*~~~~~~~~~~~~~~~~~~~ END FOOTER~~~~~~~~~~~~~~~~~*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ FOOTER MOBILE~~~~~~~~~~~~~~~*/

.footerdesktop {
    display: none;
}

.footerdesktopend {
    display: none;
}

footer {
    background-color: rgba(29, 29, 30, 1);
    padding-top: 50px;
    width: 100%;
}

.footercontainer {
    width: 250px;
    margin: auto;
    font-size: 0.8em;
    color: white;
}

.iconsfooter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.iconsfooter .icon {
    color: white;
}

.iconsfooter .icon:hover {
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.iconfooter {
    font-size: 20px;
    margin-right: 20px;
    color: white;
}

.horaires {
    font-size: 0.8em;
    font-weight: bold;
}

.footercontaineritem1, .footercontaineritem05 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footercontaineritem1 {
    margin-top: 20px;
}

.footercontaineritem1:hover, .footercontaineritem1:hover .icon {
    text-decoration: none;
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.footercontaineritem2 {
    display: block;
    margin-top: 20px;
    color: white;
}

.footercontaineritem2:hover, .footercontaineritem2:hover .icon {
    text-decoration: none;
    color: rgba(215, 55, 62, 1);
    transition: 0.4s;
}

.footercaissedepargne {
    display: none;
}


/*~~~~~~~~~~~~~~~ END FOOTER MOBILE ~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~TABLET~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width:638px) {
    .footerdesktop {
        display: none;
    }
    .footerdesktopend {
        display: none;
    }
    .footercontainer {
        width: 80%;
        margin: auto;
        font-size: 1.7em;
        color: white;
    }
    .footercontainer .icon {
        font-size: 45px;
    }
    .footercontainer h5 {
        font-size: 2em;
    }
    .iconsfooter {
        width: 75%;
        margin: auto;
        margin-top: 80px;
    }
    .iconsfooter .icon {
        font-size: 50px;
    }
    .footercontaineritem1, .footercontaineritem2 {
        margin-top: 50px;
    }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~DESKTOP~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~DESKTOP~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width:1280px) {
    /*~~~~~~~~~~~~~INDEX INTRO~~~~~~~~~~~~~~~~~~~~~~*/
    .firstencartlogo {
        display: none;
    }
    .firstencartborderbottom2 {
        border-bottom: solid white 10px;
    }
    .firstencartbordertop3 {
        border-top: solid white 10px;
    }
    .firstencartbordertop1, .firstencartbordertop3, .firstencartborderbottom2, .firstencartborderbottom4 {
        margin: 30px;
    }
    .firstencart h4 {
        font-size: 2.5em;
    }
    .firstencart p {
        font-size: 1.1em;
    }
    .firstencart i {
        font-size: 3em;
    }
    /*~~~~~~~~~~~~~END INDEX INTRO~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~SLIDER~~~~~~~~~~~~~~~~~~*/
    .slidertitre {
        font-size: 3em;
        font-weight: bold;
    }
    .slidertext2 {
        font-weight: bold;
    }
    .slider i {
        color: white;
        font-size: 2.7em;
    }
    .slidertextborderup {
        width: 95%;
        height: 40px;
        margin: auto;
        border-top: solid white 10px;
        border-left: solid white 10px;
        border-right: solid white 10px;
    }
    .slidertextborderbottom {
        width: 95%;
        height: 40px;
        margin: auto;
        border-bottom: solid white 10px;
        border-left: solid white 10px;
        border-right: solid white 10px;
    }
    /*~~~~~~~~~~~~~END SLIDER~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~HOVER DIV~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~END HOVER DIV~~~~~~~~~~~~~~~~~*/
@media (min-width:1280px) {
    .footercontaineritem2 {
        display: none;
    }
    .footercontaineritem1 {
        display: none;
    }
    .footercontaineritem0 {
        display: none;
    }
    .iconsfooter {
        display: none;
    }
    .footerdesktop {
        display: flex;
        border-bottom: solid 1px white;
    }
    .footerdesktop article .iconfooter {
        padding-left: 0;
        padding-bottom: 20px;
    }
    .footerdesktop article {
        padding: 20px;
    }
    .footerdesktop h5 {
        font-size: 0.9em;
        font-weight: bold;
        text-align: left;
    }
    .footerdesktop ul, .footerdesktop p {
        font-size: 0.45em;
        text-align: left;
    }
    .suiveznousicons {
        display: flex;
        justify-content: space-around;
        width: 80%;
        text-align: center;
    }
    .suiveznousicons .icon {
        font-size: 0.8em;
        color: white;
    }
    .suiveznousicons .icon:hover {
        color: rgba(215, 55, 62, 1);
        transition: 0.4s;
    }
    .footerdesktopend {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding-top: 30px;
    }
    .footerdesktopend a {
        color: white;
        font-weight: bold;
        font-size: 0.8em;
    }
    .footerdesktopend a:hover {
        text-decoration: none;
        color: rgba(215, 55, 62, 1);
        transition: 0.4s;
    }
    .footercaissedepargne {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    .footercaissedepargne p {
        font-size: 0.4em;
        color: grey;
    }
    .footercaissedepargne figure img {
        width: 100%;
        height: auto;
    }
    .footercaissedepargne figure {
        width: 200px;
    }
}




/*Visite.html*/

.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.centercontent i {
    color: white;
    margin-right: 20px;
}

.cardp {
    padding: 40px 22px 0 22px;
    background-color: rgba(255, 255, 255, 0.9);
}

.cardp1 {
    top: 60%;
}

.cardp1, .cardp2 {
    width: 70%;
    left: 20%;
    height: 139px;
}

.cardp2 {
    top: 30%;
}

.cardp1, .cardp2 {
    background-color: rgba(255, 255, 255);
}

.cardp2 {
    left: 0;
}

.paddingbot {
    padding-bottom: 40px;
}

.cardpmobile {
    margin: auto;
}

body {
    padding-top: 118px;
}

.chevron i {
    display: flex;
    justify-content: center;
}


/*agenda.html*/

.agendamargintop {
    margin-top: 45px;
}

.savoirplus {
    border: 2px solid black;
    color: black;
    padding: 8px;
}

.savoirplus i {
    margin: 0;
    margin-left: 4px;
    font-size: inherit;
}

.bordertopred>p {
    font-size: 30px
}

.agendacenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.agendacenter i:first-child {
    font-size: 75px;
    margin-bottom: 20px;
}

.agendacenter h2 {
    font-weight: bolder;
}

.h2margintop span {
    color: #d3336c;
}

.agendaarticle {
    flex-direction: column;
}

.agendacenter select {
    border: 3px solid black;
    padding: 13px;
    font-weight: bolder;
}

.hoverred:hover {
    color: #d3336c;
}

@media (min-width:1200px) {
    body {
        padding-top: 89px;
    }
    .center {
        margin: 0 auto;
        width: 1280px;
    }
    .cardimgback, .cardimgback img {
        height: 738px;
    }
    .cardimgback, .cardimgback img, .cardimgbackoeuvre, .cardimgbackoeuvre img {
        border: 0;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    .cardimgbackoeuvre, .cardimgbackoeuvre img {
        height: 424px;
    }
    .cardimgbackoeuvre i {
        margin: 0;
        font-size: 12px;
    }
    .cardimgbackoeuvre h2 {
        margin: 0;
        margin-top: 14px;
    }
    .visiterparcours {
        padding-top: 13px;
        justify-content: space-between;
        align-items: center;
        width: 62%;
        color: #868687;
    }
    .visiterparcours i {
        margin: 0;
        color: #868687;
    }
    .cardp {
        width: 50%;
        left: 20%;
        top: 60%;
        height: 139px;
    }
    /* agenda.html*/
    .bordertopright {
        position: absolute;
        top: 0;
        right: 0;
        border-top: solid 16px #d3336c;
        border-right: solid 16px #d3336c;
        width: 37px;
        height: 37px;
    }
    .bordertopred {
        border-top: 1px solid #d3336c;
        position: relative;
    }
    .bordertoprightpurple {
        position: absolute;
        top: 0;
        right: 0;
        border-top: solid 16px #935297;
        border-right: solid 16px #935297;
        width: 37px;
        height: 37px;
    }
    .bordertoppurple {
        border-top: 1px solid #935297;
        position: relative;
    }
    .h2margintop {
        margin-top: 37px;
        font-weight: bolder;
    }
    .agendaarticle {
        flex-direction: row;
        margin-bottom: 25px;
    }
    .agendacenter {
        margin-top: 0;
    }
    .agendamargintop {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 1140px;
        max-width: 100%;
    }
}


/* ==========================================================================
   = =                                                                       = =
   = =                                  END                                  = =
   = =                                                                       = =
   = =                                                                       = =
   = =                               MY  RULES                               = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
      ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
